*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Banner Section */
.banner{
    padding: 250px 500px;
    text-align: center;
    background-size: cover;
    background-image: url("/images/donation2.jpg"), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
}

.banner h1{
    font-weight: 700;
    font-size: 65px;
}
.banner p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 30px 0;
}

button{
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 25px;
    color: white;
}

/* Amount Section */
.amount{
    text-align: center;
    padding: 100px;
}

.amount h1{
    font-size: 45px;
}

.amount p{
    margin: 20px 0 40px 0;
}

.amount .amounts{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.amount .amounts h3{
    background-color: #FAFAFA;
    padding: 60px 30px;
    border-radius: 5px;
    color: #707070;
    font-size: 30px;
    font-weight: 700;
}

.amount input{
   border: none;
   border-bottom: 1px solid #DADADA;
   font-size: 18px;
   margin-bottom: 20px;
   text-align: center;
   padding: 10px;
}