*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Banner Section */
.banner{
    padding: 250px 500px;
    text-align: center;
    background-size: cover;
    background-image: url("/images/donation2.jpg"), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
}

.banner h1{
    font-weight: 700;
    font-size: 65px;
}
.banner p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 30px 0;
}

button{
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 25px;
    color: white;
}

/* Amount Section */
.amount{
    text-align: center;
    padding: 100px;
}

.amount h1{
    font-size: 45px;
}

.amount p{
    margin: 20px 0 40px 0;
}

.amount .amounts{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.amount .amounts h3{
    background-color: #FAFAFA;
    padding: 60px 30px;
    border-radius: 5px;
    color: #707070;
    font-size: 30px;
    font-weight: 700;
}

.amount input{
   border: none;
   border-bottom: 1px solid #DADADA;
   font-size: 18px;
   margin-bottom: 20px;
   text-align: center;
   padding: 10px;
}

/* donate plan section */
.donate-plan {
    padding:100px;
}

.donate-plan h1{
    text-align: center;
    font-size: 45px;
}

.title {
    text-align: center;
    margin: 30px 0px;
}

.donate-plan .cards{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.donate-plan .cards .card{
    padding: 100px 50px;
    text-align: left;
    width: 360px;
    height: 250px;
    border-radius: 5px;
}

.donate-plan .cards .card p{
    font-size: 18px;
}
.donate-plan .cards .card h1{
    font-weight: 600;
    text-align: left;
    font-size: 28px;
    margin: 20px 0;
}

.bg-sky{
    background-color: #4F9DA638;
}
.bg-red{
    background-color: #ff595938;
}
.bg-yellow{
    background-color: #FFF4D6
}

/* Third Section */
.third-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 50px;
}
.third-section h1{
    text-align: left;
}

.third-section p{
    font-size: 18px;
    margin: 20px 0;
}

.third-section img{
    height: 400px;
    border-radius: 5px;
}